.table {
  font-size: 12px;
  line-height: 1.2;
}

.validity-date {
  width: 105px;
  padding: 9px;
}
.form-box {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 15px 0 black;
}
.col-form-label{
  font-size: 14px;
  padding: 5px;
  align-content: right;
}
.row{
  padding: 10px;
}
.btn{
  margin: 5px;
}

